#some-textarea {
  width: 100%;
  height: 580px;
}

.photoGallery {
  width: 100%;
  height: 590px; /* 635px */
  border: 1px solid rgb(0, 0, 0);
}

.photoRow {
	padding: 20px 20px 20px 20px;
}

.photo {
	background-color: white;
	border: 1px solid black;
	margin-right: 20px;
	margin-bottom: 20px;
}

.mainView {
  margin-right: 5px;
  margin-left: 5px;
}

.leftView {
  padding-right: 0px;
  padding-left: 0px;
}

.rightView {
  padding-left: 0px;
  padding-right: 0px;
}

.rightView, .leftView {
  border:2px solid; 
  border-radius:8px;
} 

.jumbotron {
  height: 700px;
  padding: 10px 15px 15px 15px;
  
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 0px
}

.jumbotron h3,hr {
  margin-top: 0px;
  margin-bottom: 5px;
}

.jumbotron hr {
  border-top: 1px solid #000
}